# Database
DATABASE_URL=postgresql://iorder:iorder_secret@localhost:5432/iorder_db

# RedPanda
REDPANDA_BROKERS=localhost:19092

# JWT
JWT_SECRET=your-super-secret-key-change-in-production
JWT_EXPIRATION=3600

# Microservices Ports
API_GATEWAY_PORT=3000
PRODUCTS_SERVICE_PORT=3001

# Microservices Hosts (for K8s / Docker override)
API_GATEWAY_HOST=localhost
PRODUCTS_SERVICE_HOST=localhost

# Frontend
WEB_PORT=4200
ADMIN_PORT=4201
